excalidraw/.DS_Store
excalidraw/.env.development.local
excalidraw/.env.local
excalidraw/.env.production.local
excalidraw/.env.test.local
excalidraw/.envrc
excalidraw/.eslintcache
excalidraw/.history
excalidraw/.idea
excalidraw/.vercel
excalidraw/.vscode
excalidraw/.yarn
excalidraw/*.log
excalidraw/*.tgz
excalidraw/build
excalidraw/dist
excalidraw/firebase
excalidraw/logs
excalidraw/node_modules
excalidraw/npm-debug.log*
excalidraw/package-lock.json
excalidraw/yarn-debug.log*
excalidraw/yarn-error.log*
excalidraw/packages/excalidraw/types
excalidraw/coverage
excalidraw/dev-dist
excalidraw/html
excalidraw/examples/**/bundle.*
excalidraw/meta*.json
